accelerate
datasets
huggingface-hub>=0.23.0
kaggle
loguru
numpy
opencv-python
pandas
pillow
pyyaml
python-dotenv
requests
scikit-learn
streamlit
timm>=1.0.3
torch
torchvision
tqdm
transformers
xgboost
